<!DOCTYPE html>
<html>
<head>
  <title>TintedTags</title>
  <%= stylesheet_link_tag    "tinted_tags/application", :media => "all" %>
  <%= javascript_include_tag "tinted_tags/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
